<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layouts/_mainlayout">

<div layout:fragment="content">

    <h1>Editar Estudiante-Grupo</h1>

    <form th:action="@{/estudianteGrupos/update}" th:object="${estudianteGrupo}" method="post">
        <!-- Campo oculto para el ID del EstudianteGrupo -->
        <input type="hidden" name="id" th:value="${estudianteGrupo.id}" />

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estudiante" class="form-label">Estudiante</label>
                    <select class="form-control" name="estudianteId" id="estudiante" required>
                        <option th:each="estudiante : ${estudiantes}"
                                th:value="${estudiante.id}"
                                th:text="${estudiante.nombre}"
                                th:selected="${estudiante.id == estudianteGrupo.estudiante.id}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grupo" class="form-label">Grupo</label>
                    <select class="form-control" name="grupoId" id="grupo" required>
                        <option th:each="grupo : ${grupos}"
                                th:value="${grupo.id}"
                                th:text="${grupo.nombre}"
                                th:selected="${grupo.id == estudianteGrupo.grupo.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start" style="gap: 2rem;">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/estudianteGrupos}" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
</html>
