<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
    <!-- Asegúrate de incluir los estilos de Bootstrap y cualquier otro recurso necesario -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Confirmación",
                text: [[${msg}]],
                icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Error",
                text: [[${error}]],
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Estudiantes</h1>
    <a th:href="@{/Estudiantes/create}" class="btn btn-outline-primary">Nuevo Estudiante</a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>PIN</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${estudiantes.content}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.pin}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <a th:href="@{/Estudiantes/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/Estudiantes/edit/{id}(id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/Estudiantes/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/Estudiantes?page=${pageNumber}}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>

<!-- Asegúrate de incluir los scripts necesarios al final del body -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



